# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы журналов
*.log

# Игнорировать скомпилированные файлы TypeScript
dist/
build/

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать файлы IDE
.vscode/
.idea/
